.resource-detail-conntainer {
    width: 100%;
    height: 100vh;
    padding: .1rem;
    box-sizing: border-box;

    .contennt-title {
        font-size: .18rem;
        color: #000000;
        margin-bottom: .1rem;
    }

    .contennt-main {
        font-size: .14rem;
        text-indent: 2em;
        text-align: justify;
        color: #1f1f1f;
        line-height: 1.5;
        margin-bottom: .1rem;
    }
    .contennt-image {
        width: 100%;
        .image-item {
            .image {
                font-size: .12rem;
            }
        }
    }
}